.login {
  width: 330px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #000000;
  float: left;
  margin: 20px;
  box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.3); 
   margin: auto;

}

.login.apartment {
  width: 1000px;
  margin: 0 auto;
}
.c1 ,c2{
  float: left;
  margin-left: 50px;
  margin-right: 50px;
}

label {
  font-size: large;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 290px;
}

body {
  /* display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: white;
    font-size: 16px;
     */
  /* background-color: #f8faff; */
}

.btns {
  position: relative;
  appearance: none;
  /* background: #f72359; */
  /* padding: 1em 2em; */
  /* border: none; */
  /* color: white; */
  /* font-size: 1.2em; */
  cursor: pointer;
  outline: none;
  overflow: hidden;
  /* border-radius: 100px; */
  padding: 8px 8px;
  border: 1px solid #FF0063;
  background-color: #FF0063;
  border-radius: 4px;
  width: 112px;
  text-align: center;
  direction: rtl;
  margin: 5px;

  span {
    position: relative;
    pointer-events: none;
  }

  &::before {
    --size: 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #ff9500, transparent);
    transform: translate(-30%, -50%);
    transition: width .2s ease, height .2s ease;
  }

  &:hover::before {
    --size: 400px;
  }
}

/* //// */
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.wraped {
  width: 1100px;
  margin: auto;
}

.selected-option {
  background-color: #0cfd54;
}

.wraper {
  width: 600px;
  margin: auto;
}

